/* .container {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

.bg {
  position: absolute;
  margin-top: calc((100vh - 600px) / 2);
  width: 600px;
  height: 600px;
  background-size: cover;
  background-position: center;
  will-change: opacity;
}

.text {
  color: white;
  font-size: 90px;
  font-family: 'Cormorant Garamond', serif;
  text-align: left;
  margin-top: calc((100vh - 600px) / 2);
  width: 1600px;
  vertical-align: middle;
} */